@font-face
{
	font-family: TF2C;
	src: url(TF2C.ttf)
}
@font-face
{
	font-family: TF2CBuild;
	src: url(TF2CBuild.ttf)
}
@font-face
{
	font-family: TF2CProfessor;
	src: url(TF2CProfessor.ttf)
}
@font-face
{
	font-family: TF2CSecondary;
	src: url(TF2CSecondary.ttf)
}
#selection
{
	border: solid 1px black;
	padding: 10px;
	font-family: TF2CSecondary;
	font-size: larger;
}
.Default1
{
	font-family: Verdana;
	font-size: 12pt;
	font-weight: 900;
}
.MenuSmallFont
{
	font-family: TF2C;
	font-size: 28pt;
}
.ChalkboardText, .ChalkboardTitle
{
	font-family: TF2CProfessor;
	margin:0;
	font-weight: normal;
}
.ChalkboardTitle
{
	font-size: 53pt;
}
.ChalkboardText
{
	font-size: 31pt;
}